body{
}

footer{
    background-color: gray;
    height: 300px;
}

.avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.header-home{
    background: url(../img/home-header.jpg);
    height: 370px;
    position: relative;
}

.header-home .header-content {
    width: 70%;
    height: 65%;
    background-color: black;
    opacity: 35%!important;
    border-radius: 1em;
    position: absolute;
    top: 18%;
    left: 14%;
}

.header-home .block-search{
    position: absolute;
    width:55%;
    top: 35%;
    left: 21%;
}

.main{
    margin-top: 35px;
    /* left: 35px; */
}

.block-type1 {
    background-color: red;
    height: 180px;
    width: 100%;
}
.block-type2 {
    background-color: blue;
    height: 180px;
    width: 100%;
}
.block-type3 {
    background-color: green;
    height: 180px;
    width: 100%;
}

.wrapper{
    display: block;
    position: relative;
    width: 100%;
}

.wrapper .block{
    position: relative;
    background-color: green;
    display: inline-flex;
    height: 400px;
    width: 256px;
}

.mr-btn{
    /* position: inherit;
    margin-right: 0px; */
}
.block-search .col .btn-group {
    position:absolute;
    width:100%;
    left:0px;
    border-radius: 0%;
}

.btn-popup {
    position:absolute;
    height: 45px;
    width:100%;
    top: 25px;
    left:0px;
    border-radius: 0%;
}


